.form {
    text-align: center;
    margin: 16px 0;
  }
  
  .input {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    font-size: 15.5px;

  }
  
  .button {
    border-style: none;
    margin-left: 16px;
    background-color: #4299e1;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
  }
  