body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(110, 109, 109);
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
